In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [80]:
df = pd.read_csv("/Users/arnaud/Desktop/HEC/taxi-time/Data/Airport_Data.csv", parse_dates=[20,22])

In [81]:
columns_df = pd.read_excel("/Users/arnaud/Desktop/HEC/taxi-time/Data/Glossary.xlsx", sheet_name = 1).iloc[:,[0,2]]

In [102]:
#columns_df[columns_df.iloc[:,1] not in  ['To ignore', 'to ignore']]

In [103]:
#columns_df.iloc[:,0] not in  ['To ignore', 'to ignore']

In [78]:
#[columns_df.iloc[:,0].tolist()[i] for i in range((len(columns_df.iloc[:,1].tolist()))) if columns_df.iloc[:,1].tolist()[i] not in ['To ignore', 'to ignore',  'Technical characteristic to ignore', 'Aircraft Type (with another regulation -not to be used for the case)'] ]

In [79]:
#columns_df.iloc[:,1].tolist()[2]

In [6]:
def glossary_feature_selection(path):
    ignore = ['To ignore', 'to ignore',  'Technical characteristic to ignore', 'Aircraft Type (with another regulation -not to be used for the case)']
    columns_df = pd.read_excel(path, sheet_name = 1).iloc[:,[0,2]]
    feature_list = [columns_df.iloc[:,0].tolist()[i] for i in range((len(columns_df.iloc[:,1].tolist()))) if columns_df.iloc[:,1].tolist()[i] not in ignore ]
    return feature_list

In [82]:
feats = glossary_feature_selection("/Users/arnaud/Desktop/HEC/taxi-time/Data/Glossary.xlsx")
feats

['Carrier',
 'Flight',
 'acType',
 'Ship',
 'sto',
 'runway',
 'Stand',
 'ALDT',
 'CIBT',
 'Chock_on',
 'EIBT',
 'CIBT',
 'AIBT']

In [125]:
def create_target(df):
    df_filter = df[(~df['aibt'].isna()) & (~df['aldt'].isna()) & (df['aibt'] != 'aibt')]
    return (pd.to_datetime(df_filter['aibt']) - pd.to_datetime(df_filter['aldt'])).astype('timedelta64[s]')

In [134]:
df[(~df['aibt'].isna()) ]
#aibt actual inblock time
#actual landing time

,partition,carrier,flight,acType,acReg,ship,mode_s,status,sto,sqt,...,acars_out,vdgs_out,stand_free,eobt,aobt,atot,roll,speed,last_distance_to_gate,last_in_sector
4,AP,CAR1,2519,B737/9-WL,N845DN,3845,11244228,ACTIVATED,7/30/2018 4:45,7/30/2018 4:33,...,NaN,NaN,NaN,NaN,NaN,NaN,0.4,NaN,NaN,NaN
5,AP,NaN,NaN,B717/2,NaN,NaN,NaN,ACTIVATED,7/30/2018 4:46,7/30/2018 4:46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AP,CAR1,1757,B757/2-WL,N555NW,5655,10949439,ACTIVATED,7/30/2018 8:53,7/30/2018 8:19,...,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,240,NaN
8,AP,CAR1,1636,A321/2,N311DN,3011,10701536,ACTIVATED,7/30/2018 8:49,7/30/2018 8:31,...,NaN,NaN,NaN,NaN,NaN,NaN,0.3,NaN,NaN,NaN
9,AP,CAR1,2048,B737/9-WL,N813DN,3813,11211993,ACTIVATED,7/30/2018 8:56,7/30/2018 8:47,...,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,83,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305679,AP,CAR1,32,A320/2,N363NW,3263,10754226,ACTIVATED,1/17/2019 1:57,1/17/2019 1:58,...,NaN,NaN,NaN,NaN,NaN,NaN,0.4,NaN,92,NaN
305680,AP,CAR1,1076,B737/9-WL,N807DN,3807,11205686,ACTIVATED,1/17/2019 2:33,1/17/2019 1:59,...,NaN,NaN,1/17/2019 2:13,NaN,NaN,NaN,NaN,NaN,178,NaN
305681,AP,CAR1,1991,B737/9-WL,N900DU,3900,NaN,ACTIVATED,1/17/2019 2:24,1/17/2019 2:00,...,NaN,NaN,1/17/2019 1:55,NaN,NaN,NaN,NaN,NaN,59,NaN
305682,AP,CAR4,5524,CRJ/9,N604LR,4953,10999589,ACTIVATED,1/17/2019 2:41,1/17/2019 2:01,...,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,265,NaN
305684,AP,CAR1,2438,B717/2,N948AT,9508,11348722,ACTIVATED,1/17/2019 2:16,1/17/2019 2:01,...,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,104,NaN