# Feature Engineering
## Test Tristan

### Packages

In [1]:
import pandas as pd
from datetime import timedelta   
import os

os.chdir('/Users/tristanmayer/Documents/GitHub/taxi-time')
from src.preprocessing import *
from src.master import *
from src.features_congestion import *

### Data

In [5]:
df = master_preprocessing_X('/Users/tristanmayer/Desktop/Supercase Eleven/data/0. Airport data/Airport_Data.csv',
                            '/Users/tristanmayer/Desktop/Supercase Eleven/data/2. Weather data/weather_data_prep.csv',
                            '/Users/tristanmayer/Desktop/Supercase Eleven/data/1. AC characteristics/ACchar.xlsx',
                            '/Users/tristanmayer/Documents/GitHub/taxi-time/Correspondance.pkl')

/Users/tristanmayer/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df.head()

,carrier,flight,acType,sto,runway,stand,aldt,eibt,cibt,aibt,...,MGW (Outer to Outer),MTOW,Max Ramp Max Taxi,Main Gear Config,ICAO Code,Wake Category,ATCT Weight Class,Years Manufactured,Note,"Parking Area (WS x Length), sf"
0,CAR1,2519,b737/9-wl,2018-07-30 04:45:00,RUNWAY02,STAND04,2018-07-30 04:25:00,2018-07-30 04:33:00,2018-07-30 04:33:00,7/30/2018 4:29,...,22.9583,174200,174700,D,B739,M,Large Jet Eqpt,tbd,tbd,16223.1
1,CAR1,1757,b757/2-wl,2018-07-30 08:53:00,RUNWAY02,STAND07,2018-07-30 08:14:00,2018-07-30 08:19:00,2018-07-30 08:18:00,7/30/2018 8:18,...,28,255500,256000,2D,B752,M,B757 Eqpt,tbd,tbd,20919.9
2,CAR1,1636,a321/2,2018-07-30 08:49:00,RUNWAY01,STAND08,2018-07-30 08:26:00,2018-07-30 08:31:00,2018-07-30 08:32:00,7/30/2018 8:29,...,29.43,206132,207014,D,A321,M,Large Jet Eqpt,tbd,tbd,16337.8
3,CAR1,2048,b737/9-wl,2018-07-30 08:56:00,RUNWAY02,STAND09,2018-07-30 08:42:00,2018-07-30 08:47:00,2018-07-30 08:45:00,7/30/2018 8:46,...,22.9583,174200,174700,D,B739,M,Large Jet Eqpt,tbd,tbd,16223.1
4,CAR1,2510,a321/2,2018-07-30 09:14:00,RUNWAY02,STAND11,2018-07-30 08:52:00,2018-07-30 08:57:00,2018-07-30 08:57:00,7/30/2018 8:57,...,29.43,206132,207014,D,A321,M,Large Jet Eqpt,tbd,tbd,16337.8

### Create new columns

In [2]:
df1 = cleaning_airport_df('/Users/tristanmayer/Desktop/Supercase Eleven/data/0. Airport data/Airport_Data.csv')

/Users/tristanmayer/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [12]:
df['aldt'].apply(lambda x: get_nb_of_planes_in_movement(x, df1))

0     1
1     0
2     0
3     0
4     0
5     0
6     1
7     1
8     0
9     1
10    3
11    2
12    3
13    3
14    2
15    2
16    3
17    3
18    4
19    4
20    5
21    2
22    1
23    2
24    3
25    2
26    5
27    5
28    2
29    4
Name: aldt, dtype: int64

In [46]:
l=[]
for ind, row in df[['runway', 'aldt']].iterrows():
    sys.stdout.write("\r{0}".format((float(ind)/len(df))*100))
    sys.stdout.flush()
    l.append(get_nb_of_planes_runway_in_last_M_min(row['runway'], row['aldt'], 3000, df1))

99.999275320308436336

In [48]:
pd.to_pickle(l, 'FEATURE.pkl')

In [50]:
len(l)

137992

991

In [53]:
df['F1']=l

In [54]:
df['F1'].idxmax()

11304

In [55]:
df.loc[11304]

carrier                                                     CAR1
flight                                                      1154
acType                                                    b717/2
sto                                          2018-08-11 02:10:00
runway                                                  RUNWAY09
stand                                                   STAND107
aldt                                         2018-08-11 01:52:00
eibt                                         2018-08-11 02:01:00
cibt                                         2018-08-11 02:05:00
aibt                                              8/11/2018 2:06
chocks_on                                         8/11/2018 2:06
AWND                                                         NaN
PRCP                                                         NaN
TAVG                                                         NaN
TMAX                                                         NaN
TMIN                                                         NaN
WDF2                                                         NaN
WDF5                                                         NaN
WSF2                                                         NaN
WSF5                                                         NaN
WT01                                                         NaN
WT02                                                         NaN
WT03                                                         NaN
WT08                                                         NaN
SnowProxi                                                    NaN
Manufacturer                                              Boeing
Model                                                     b717/2
Physical Class (Engine)                                      Jet
# Engines                                                      2
AAC                                                            C
ADG                                                          III
TDG                                                            2
Approach Speed\n(Vref)                                       139
Wingtip Configuration                                no winglets
Wingspan, ft                                             93.3333
Length, ft                                                   124
Tail Height, ft\n(@ OEW)                                 29.6667
Wheelbase, ft                                              57.75
Cockpit to Main Gear (CMG)                                 57.75
MGW\n(Outer to Outer)                                     19.425
MTOW                                                      118000
Max Ramp\nMax Taxi                                        119000
Main Gear Config                                               D
ICAO Code                                                   B712
Wake Category                                                  M
ATCT Weight Class                                            tbd
Years Manufactured                Went out of production in 2006
Note                                                         tbd
Parking Area (WS x Length), sf                           11573.3
F1                                                           991
Name: 11304, dtype: object