# Missing values in Clean df

### Packages

In [1]:
import pandas as pd
import seaborn as sns
from src.preprocessing import *

### Data

#### Cleaning

In [6]:
def cleaning_airport_df(path_to_airport_csv):
    columns_to_drop = ['partition',
                       'acReg',
                       'acars_out',
                       'aibt_received',
                       'aldt_received',
                       'gpu_off',
                       'gpu_on',
                       'last_distance_to_gate',
                       'last_in_sector',
                       'mode_s',
                       'pca_off',
                       'pca_on',
                       'plb_on',
                       'plb_off',
                       'ship', 
                       'roll',
                       'speed',
                       'sqt',
                       'stand_active',
                       'stand_auto_start',
                       'stand_docking',
                       'stand_free',
                       'stand_last_change',
                       'stand_prepared',
                       'stand_scheduled',
                       'status',
                       'towbar_on',
                       'vdgs_in',
                       'vdgs_out']
    df_raw = pd.read_csv(path_to_airport_csv)
    df_clean = df_raw.drop(columns_to_drop, axis=1).dropna(how="all")
    return df_clean

In [7]:
def get_df_of_obs1(df_clean1):
    df_obs = df_clean1[(~df_clean1['aibt'].isna())
                       & (~df_clean1['aldt'].isna())
                       & (df_clean1['aibt'] != 'aibt')] 
    df_obs = df_obs.drop(['eobt','aobt','atot'], axis=1)
#this is because some rows have the name of the columns as value (string that has nothing to do with the shmilblick)
    return df_obs

In [8]:
def get_target_values(df_obs):
    target = pd.DataFrame((pd.to_datetime(df_obs['aibt']) - pd.to_datetime(df_obs['aldt'])).astype('timedelta64[s]'))
    return target

In [9]:
df_clean = cleaning_airport_df('data/0. Airport data/Airport_Data.csv')

/Users/tristanmayer/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [10]:
df1 = cleaning_airport_df('data/0. Airport data/Airport_Data.csv')

In [11]:
df2 = get_df_of_obs1(df1)

In [12]:
df3 = get_target_values(df2)

In [13]:
df1.head()

,carrier,flight,acType,sto,runway,stand,aldt,eibt,cibt,aibt,chocks_on,eobt,aobt,atot
0,CAR1,NaN,MD88,undefined,NaN,STAND01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAR1,NaN,MD88,undefined,NaN,STAND01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CRJ/9,7/30/2018 4:18,NaN,STAND02,NaN,7/30/2018 4:18,NaN,NaN,NaN,NaN,NaN,NaN
3,CAR1,27,A350/9,7/30/2018 4:19,RUNWAY01,STAND03,NaN,NaN,NaN,NaN,NaN,7/30/2018 4:19,7/30/2018 4:18,7/30/2018 4:33
4,CAR1,2519,B737/9-WL,7/30/2018 4:45,RUNWAY02,STAND04,7/30/2018 4:25,7/30/2018 4:33,7/30/2018 4:33,7/30/2018 4:29,7/30/2018 4:30,NaN,NaN,NaN

In [14]:
df2.head()

,carrier,flight,acType,sto,runway,stand,aldt,eibt,cibt,aibt,chocks_on
4,CAR1,2519,B737/9-WL,7/30/2018 4:45,RUNWAY02,STAND04,7/30/2018 4:25,7/30/2018 4:33,7/30/2018 4:33,7/30/2018 4:29,7/30/2018 4:30
7,CAR1,1757,B757/2-WL,7/30/2018 8:53,RUNWAY02,STAND07,7/30/2018 8:14,7/30/2018 8:19,7/30/2018 8:18,7/30/2018 8:18,7/30/2018 8:19
8,CAR1,1636,A321/2,7/30/2018 8:49,RUNWAY01,STAND08,7/30/2018 8:26,7/30/2018 8:31,7/30/2018 8:32,7/30/2018 8:29,7/30/2018 8:30
9,CAR1,2048,B737/9-WL,7/30/2018 8:56,RUNWAY02,STAND09,7/30/2018 8:42,7/30/2018 8:47,7/30/2018 8:45,7/30/2018 8:46,NaN
11,CAR1,2510,A321/2,7/30/2018 9:14,RUNWAY02,STAND11,7/30/2018 8:52,7/30/2018 8:57,7/30/2018 8:57,7/30/2018 8:57,7/30/2018 8:58

In [15]:
df3.head()

        0
4   240.0
7   240.0
8   180.0
9   240.0
11  300.0

In [16]:
df2.isna().sum()/len(df2)

carrier      0.000000
flight       0.000000
acType       0.000014
sto          0.000000
runway       0.025241
stand        0.000000
aldt         0.000000
eibt         0.000000
cibt         0.025349
aibt         0.000000
chocks_on    0.204432
dtype: float64