In [9]:
import os
import sys
import pandas as pd

In [21]:
sys.path.append("..")
from src import preprocessing as pp

In [23]:
pp.glossary_feature_selection('../../Glossary.xlsx')

['Carrier',
 'Flight',
 'acType',
 'Ship',
 'sto',
 'runway',
 'Stand',
 'ALDT',
 'CIBT',
 'Chock_on',
 'EIBT',
 'CIBT',
 'AIBT']

In [3]:
X_airport = preprocessing.design_matrix_airport_data('../../0. Airport data/Airport_Data.csv')

/Users/alexandreminy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [20]:
X_weather = preprocessing.weather_clean('../data/weather_data_prep.csv')
print(X_weather.shape)

(182, 14)

In [5]:
print(X_airport.shape)
X_airport.head()

(137992, 11)

,carrier,flight,acType,ship,sto,runway,stand,aldt,eibt,cibt,chocks_on
4,CAR1,2519,B737/9-WL,3845,7/30/2018 4:45,RUNWAY02,STAND04,7/30/2018 4:25,7/30/2018 4:33,7/30/2018 4:33,7/30/2018 4:30
7,CAR1,1757,B757/2-WL,5655,7/30/2018 8:53,RUNWAY02,STAND07,7/30/2018 8:14,7/30/2018 8:19,7/30/2018 8:18,7/30/2018 8:19
8,CAR1,1636,A321/2,3011,7/30/2018 8:49,RUNWAY01,STAND08,7/30/2018 8:26,7/30/2018 8:31,7/30/2018 8:32,7/30/2018 8:30
9,CAR1,2048,B737/9-WL,3813,7/30/2018 8:56,RUNWAY02,STAND09,7/30/2018 8:42,7/30/2018 8:47,7/30/2018 8:45,NaN
11,CAR1,2510,A321/2,3048,7/30/2018 9:14,RUNWAY02,STAND11,7/30/2018 8:52,7/30/2018 8:57,7/30/2018 8:57,7/30/2018 8:58

In [13]:
X_airport['date']=pd.to_datetime(X_airport['aldt']).dt.date

In [15]:
X_airport.set_index('date',inplace=True)

In [40]:
X_merged=X_airport.join(X_weather,how='left').reset_index().rename(columns={"index": "date"})

In [41]:
X_merged.head()

,date,carrier,flight,acType,ship,sto,runway,stand,aldt,eibt,...,TMIN,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT08,SnowProxi
0,2018-07-30,CAR1,2519,B737/9-WL,3845,7/30/2018 4:45,RUNWAY02,STAND04,7/30/2018 4:25,7/30/2018 4:33,...,69.0,170.0,170.0,15.0,19.0,1.0,0.0,1.0,1.0,False
1,2018-07-30,CAR1,1757,B757/2-WL,5655,7/30/2018 8:53,RUNWAY02,STAND07,7/30/2018 8:14,7/30/2018 8:19,...,69.0,170.0,170.0,15.0,19.0,1.0,0.0,1.0,1.0,False
2,2018-07-30,CAR1,1636,A321/2,3011,7/30/2018 8:49,RUNWAY01,STAND08,7/30/2018 8:26,7/30/2018 8:31,...,69.0,170.0,170.0,15.0,19.0,1.0,0.0,1.0,1.0,False
3,2018-07-30,CAR1,2048,B737/9-WL,3813,7/30/2018 8:56,RUNWAY02,STAND09,7/30/2018 8:42,7/30/2018 8:47,...,69.0,170.0,170.0,15.0,19.0,1.0,0.0,1.0,1.0,False
4,2018-07-30,CAR1,2510,A321/2,3048,7/30/2018 9:14,RUNWAY02,STAND11,7/30/2018 8:52,7/30/2018 8:57,...,69.0,170.0,170.0,15.0,19.0,1.0,0.0,1.0,1.0,False