# Test 1

### Packages

In [1]:
import pandas as pd
from datetime import timedelta  
import os

os.chdir('/Users/tristanmayer/Documents/GitHub/taxi-time')
from src.preprocessing import *
from src.master import *

### Data

In [2]:
df1 = cleaning_airport_df('/Users/tristanmayer/Desktop/Supercase Eleven/data/0. Airport data/Airport_Data.csv')

/Users/tristanmayer/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [3]:
df2 = get_df_of_obs1(df1)

In [4]:
df3 = get_target_values(df2)

df = master_preprocessing_X('/Users/tristanmayer/Desktop/Supercase Eleven/data/0. Airport data/Airport_Data.csv',
                            '/Users/tristanmayer/Desktop/Supercase Eleven/data/2. Weather data/weather_data_prep.csv',
                            '/Users/tristanmayer/Desktop/Supercase Eleven/data/1. AC characteristics/ACchar.xlsx',
                            '/Users/tristanmayer/Documents/GitHub/taxi-time/Correspondance.pkl')

(df.isna().sum()/len(df)).plot.bar()

In [5]:
## Creation des timestamps
## Cleaning of rows that font chier la bite
df1 = df1.loc[df1['aldt']!='aldt']
for col in ['aldt', 'aibt','aobt', 'atot']:
    df1[col] = pd.to_datetime(df1[col])

In [49]:
# number of planes in the airport at time_t (a date in string format)
# number of planes in block at time_t (a date in string format)
#### need to reconcile flights with plane (we only know details about flight so not the same line for arrival and departure from the stand -> see the dates regarding one stand)

# number of planes in movement at time_t (a date in string format)
## input: date as a string
## output: integer
def get_nb_of_planes_in_movement(time_t):
    t = pd.to_datetime(time_t)
    res = len(df1[((df1['aldt']<t) & (df1['aibt']>t))|
                  ((df1['aobt']<t) & (df1['atot']>t))])
    return res

# number of planes that have landed on the runway_R in the last M_min at time_t
## input: runway as a string; date as a string; timedelta as an integer (nb of minutes)
## output: integer
def get_nb_of_planes_runway_in_last_M_min(runway_R, time_t, M_min):
    t1 = pd.to_datetime(time_t)
    t2 = t1-timedelta(minutes = M_min)
    res = len(df1[(df1['runway']==runway_R) &
                  (df1['aldt']<t1) &
                  (df1['aldt']>t2)])
    return res


# number of planes that have stayed at the stand_S in the last M min at time_t
def get_nb_of_planes_stand_in_last_M_min(stand_S, time_t, M_min):
    t1 = pd.to_datetime(time_t)
    t2 = t1-timedelta(minutes = M_min)
    res = len(df1[(df1['stand']==stand_S) &
                  (df1['aibt']<t1) &
                  (df1['aibt']>t2)])
    return res

# average taxi-time of the planes that have landed on runway_R in the last M min at time_t
def average_taxitime_runway_last_X_min(runway_R, time_t, M_min): 
    t1 = pd.to_datetime(time_t)
    t2 = t1-timedelta(minutes = M_min)
    list_of_index = df1[(df1[df1['runway']==runway_R]) & 
                        (df1['aibt']<t1) & 
                        (df1['aibt']>t2)].index
    res = df3.loc[list_of_index][0].mean()
    return res

# average taxi-time of the planes that stayed at stand_S in the last M min at time_t
def average_taxitime_stand_last_X_min(stand_S, time_t, M_min): 
    t1 = pd.to_datetime(time_t)
    t2 = t1-timedelta(minutes = M_min)
    list_of_index = df1[(df1[df1['stand']==stand_S]) & 
                        (df1['aibt']<t1) & 
                        (df1['aibt']>t2)].index
    res = df3.loc[list_of_index][0].mean()
    return res

# taxi_time of the last plane that have landed on runway_R at time_t
def get_last_taxitime_runway(runway_R, time_t):
    t1 = pd.to_datetime(time_t)
    res = df3.iloc[df1[(df1['runway']==runway_R) & (df1['aibt']<t1)]['aibt'].idxmax()][0]
    return res

# taxi_time of the last plane that have stayed at stand_S at time_t
def get_last_taxitime_stand(stand_S, time_t):
    t1 = pd.to_datetime(time_t)
    res = df3.iloc[df1[(df1['stand']==stand_S) & (df1['aibt']<t1)]['aibt'].idxmax()][0]
    return res

    
# taxi_time of the last plane that have gone from runway_R to stand_S at time_t
def get_last_taxitime_path(runway_R, stand_S, time_t):
    t1 = pd.to_datetime(time_t)
    res = df3.iloc[df1[(df1['runway']==runway_R) &
                       (df1['stand']==stand_S) & 
                       (df1['aibt']<t1)]['aibt'].idxmax()][0]
    return res

In [7]:
time_t = '2018-08-01 19:59:00'

In [5]:
df1.head()

,carrier,flight,acType,sto,runway,stand,aldt,eibt,cibt,aibt,chocks_on,eobt,aobt,atot
0,CAR1,NaN,MD88,undefined,NaN,STAND01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAR1,NaN,MD88,undefined,NaN,STAND01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,CRJ/9,7/30/2018 4:18,NaN,STAND02,NaN,7/30/2018 4:18,NaN,NaN,NaN,NaN,NaN,NaN
3,CAR1,27,A350/9,7/30/2018 4:19,RUNWAY01,STAND03,NaN,NaN,NaN,NaN,NaN,7/30/2018 4:19,7/30/2018 4:18,7/30/2018 4:33
4,CAR1,2519,B737/9-WL,7/30/2018 4:45,RUNWAY02,STAND04,7/30/2018 4:25,7/30/2018 4:33,7/30/2018 4:33,7/30/2018 4:29,7/30/2018 4:30,NaN,NaN,NaN

In [30]:
t = pd.to_datetime(time_t)
len(df1[((df1['aldt']<t) & (df1['aibt']>t))|
        ((df1['aobt']<t) & (df1['atot']>t))])

36

In [31]:
t1 = pd.to_datetime(time_t)
t2 = t1-timedelta(minutes = 300)
len(df1[(df1['runway']=='RUNWAY01')&
        (df1['aldt']<t1) &
        (df1['aldt']>t2)])

0

In [19]:
t1 = pd.to_datetime(time_t)
t2 = t1-timedelta(minutes = 300)
res = len(df1[(df1['stand']=='STAND03') &
                  (df1['aibt']<t1) &
                  (df1['aibt']>t2)])
res

1

In [24]:
t1 = pd.to_datetime(time_t)
t2 = t1-timedelta(minutes = 30000)
list_of_index = df1[(df1['stand']=='STAND03') & 
                    (df1['aibt']<t1) & 
                    (df1['aibt']>t2)].index
res = df3.loc[list_of_index][0].mean()
res

576.0

In [46]:
t1 = pd.to_datetime(time_t)
df3.iloc[df1[(df1['runway']=='RUNWAY01') & (df1['aibt']<t1)]['aibt'].idxmax()][0]
         
         
#.sort_values('aibt', ascending=False).iloc[0].name][0]

300.0

In [28]:
df1[(df1['stand']=='STAND03')]

,carrier,flight,acType,sto,runway,stand,aldt,eibt,cibt,aibt,chocks_on,eobt,aobt,atot
3,CAR1,27,A350/9,7/30/2018 4:19,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,7/30/2018 4:19,2018-07-30 04:18:00,2018-07-30 04:33:00
17,CAR1,1943,B777/2-LR,7/30/2018 8:14,RUNWAY01,STAND03,2018-07-30 09:21:00,7/30/2018 9:28,7/30/2018 9:27,2018-07-30 09:28:00,NaN,NaN,NaT,NaT
1175,CAR1,185,B777/2-LR,7/30/2018 19:20,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,7/30/2018 19:20,2018-07-30 19:19:00,2018-07-30 19:40:00
1431,CAR1,65,A330/3,7/30/2018 21:33,RUNWAY06,STAND03,2018-07-30 21:10:00,7/30/2018 21:18,7/30/2018 21:19,2018-07-30 21:18:00,NaN,NaN,NaT,NaT
2189,CAR1,101,A330/3,7/31/2018 2:23,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,7/31/2018 3:20,2018-07-31 03:17:00,2018-07-31 03:35:00
2936,CAR1,295,B777/2-LR,7/31/2018 15:49,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,7/31/2018 15:49,2018-07-31 15:44:00,2018-07-31 15:58:00
3042,CAR1,83,A330/3,7/31/2018 16:52,RUNWAY10,STAND03,2018-07-31 16:39:00,7/31/2018 16:49,7/31/2018 16:46,2018-07-31 16:47:00,NaN,NaN,NaT,NaT
3587,CAR1,33,A330/2,7/31/2018 22:30,RUNWAY08,STAND03,2018-07-31 22:12:00,7/31/2018 22:24,7/31/2018 22:26,2018-07-31 22:31:00,NaN,NaN,NaT,NaT
4326,CAR1,54,A330/2,8/1/2018 2:13,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,8/1/2018 3:50,2018-08-01 03:42:00,2018-08-01 03:55:00
5261,CAR1,295,B777/2-LR,8/1/2018 15:49,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,8/1/2018 15:49,2018-08-01 15:46:00,2018-08-01 16:00:00
5420,CAR1,83,A330/3,8/1/2018 16:52,RUNWAY06,STAND03,2018-08-01 17:06:00,8/1/2018 17:13,8/1/2018 17:11,2018-08-01 17:12:00,NaN,NaN,NaT,NaT
5807,CAR1,70,A330/3,8/1/2018 19:22,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,8/1/2018 20:00,2018-08-01 19:59:00,2018-08-01 20:30:00
5973,CAR1,65,A330/3,8/1/2018 21:33,RUNWAY07,STAND03,2018-08-01 21:07:00,8/1/2018 21:20,8/1/2018 21:16,2018-08-01 21:17:00,NaN,NaN,NaT,NaT
6757,CAR1,101,A330/3,8/2/2018 2:23,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,8/2/2018 3:25,2018-08-02 03:24:00,2018-08-02 03:41:00
7539,CAR1,295,B777/2-LR,8/2/2018 15:49,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,8/2/2018 16:00,2018-08-02 16:06:00,2018-08-02 16:20:00
7642,CAR1,83,B767/4,8/2/2018 17:00,RUNWAY06,STAND03,2018-08-02 16:43:00,8/2/2018 16:51,8/2/2018 16:50,2018-08-02 16:49:00,NaN,NaN,NaT,NaT
7973,CAR1,82,B767/4,8/2/2018 19:17,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,8/2/2018 19:25,2018-08-02 19:22:00,2018-08-02 19:41:00
8498,CAR1,85,A330/2,8/2/2018 23:03,RUNWAY06,STAND03,2018-08-02 23:27:00,8/2/2018 23:36,8/2/2018 23:34,2018-08-02 23:35:00,NaN,NaN,NaT,NaT
8834,CAR1,32,A330/2,8/3/2018 1:57,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,8/3/2018 1:57,2018-08-03 02:01:00,2018-08-03 02:56:00
9793,CAR1,295,B777/2-LR,8/3/2018 15:49,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,8/3/2018 15:49,2018-08-03 15:45:00,2018-08-03 15:57:00
10175,CAR1,177,A330/3,8/3/2018 18:50,RUNWAY10,STAND03,2018-08-03 18:37:00,8/3/2018 18:44,8/3/2018 18:45,2018-08-03 18:45:00,NaN,NaN,NaT,NaT
10566,CAR1,65,A330/3,8/3/2018 21:33,NaN,STAND03,2018-08-03 21:09:00,8/3/2018 21:33,NaN,2018-08-03 21:22:00,NaN,NaN,NaT,NaT
11235,CAR1,101,A330/3,8/4/2018 2:23,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,8/4/2018 2:30,2018-08-04 02:21:00,2018-08-04 02:38:00
11393,CAR1,201,B777/2-LR,8/4/2018 9:46,RUNWAY04,STAND03,2018-08-04 09:53:00,8/4/2018 9:57,8/4/2018 9:55,2018-08-04 09:56:00,NaN,NaN,NaT,NaT
12007,CAR1,295,B777/2-LR,8/4/2018 15:49,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,8/4/2018 15:49,2018-08-04 15:42:00,2018-08-04 15:56:00
12094,CAR1,83,B767/4,8/4/2018 17:00,RUNWAY05,STAND03,2018-08-04 16:27:00,8/4/2018 16:37,8/4/2018 16:31,2018-08-04 16:31:00,NaN,NaN,NaT,NaT
12550,CAR1,62,B767/4,8/4/2018 20:25,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,8/4/2018 20:25,2018-08-04 20:20:00,2018-08-04 20:32:00
12637,CAR1,752,B717/2,8/4/2018 21:26,RUNWAY05,STAND03,2018-08-04 20:54:00,8/4/2018 21:01,8/4/2018 20:57,2018-08-04 20:59:00,NaN,NaN,NaT,NaT
12831,CAR1,919,B737/7-WL,8/4/2018 23:12,RUNWAY07,STAND03,2018-08-04 22:33:00,8/4/2018 22:41,8/4/2018 22:53,2018-08-04 22:43:00,NaN,NaN,NaT,NaT
12841,CAR1,753,B717/2,8/4/2018 22:34,RUNWAY03,STAND03,NaT,NaN,NaN,NaT,NaN,8/4/2018 22:45,2018-08-04 22:48:00,2018-08-04 23:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297424,CAR1,351,B737/9-WL,1/12/2019 23:43,RUNWAY07,STAND03,2019-01-12 23:18:00,1/12/2019 23:32,1/12/2019 23:31,2019-01-12 23:31:00,1/12/2019 23:33,NaN,NaT,NaT
297667,CAR1,NaN,B737/9-WL,1/13/2019 1:40,NaN,STAND03,NaT,NaN,NaN,NaT,NaN,1/13/2019 1:40,2019-01-13 01:40:00,NaT
297668,CAR1,NaN,B737/9-WL,1/13/2019 1:40,NaN,STAND03,NaT,NaN,NaN,NaT,NaN,1/13/2019 1:40,NaT,NaT
297675,CAR1,796,B737/8-WL,1/13/2019 1:42,RUNWAY05,STAND03,2019-01-13 01:37:00,1/13/2019 1:48,1/13/2019 1:42,2019-01-13 01:42:00,1/13/2019 1:43,NaN,NaT,NaT
297766,CAR1,839,B737/8-WL,1/13/2019 3:25,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,1/13/2019 3:25,2019-01-13 03:24:00,2019-01-13 03:52:00
298274,CAR1,295,B777/2-LR,1/13/2019 16:05,RUNWAY04,STAND03,NaT,NaN,NaN,NaT,NaN,1/13/2019 16:05,2019-01-13 16:05:00,2019-01-13 16:28:00
298414,CAR1,83,B777/2,1/13/2019 17:59,RUNWAY07,STAND03,2019-01-13 17:28:00,1/13/2019 17:35,1/13/2019 17:42,2019-01-13 17:42:00,1/13/2019 17:44,NaN,NaT,NaT
298861,CAR1,82,B777/2,1/13/2019 21:10,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/13/2019 21:10,2019-01-13 21:09:00,2019-01-13 21:21:00
298942,CAR1,682,A319,1/13/2019 22:19,RUNWAY08,STAND03,2019-01-13 21:42:00,1/13/2019 21:50,1/13/2019 21:50,2019-01-13 21:51:00,1/13/2019 21:51,NaN,NaT,NaT
299146,CAR1,337,A319,1/13/2019 23:21,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/13/2019 23:21,2019-01-13 23:18:00,2019-01-13 23:37:00
299708,CAR1,54,A330/2,1/14/2019 3:44,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/14/2019 4:13,2019-01-14 04:14:00,2019-01-14 04:27:00
300334,CAR1,295,B777/2-LR,1/14/2019 16:05,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/14/2019 16:05,2019-01-14 16:01:00,2019-01-14 16:21:00
300665,CAR1,186,B777/2-LR,1/14/2019 18:41,RUNWAY09,STAND03,2019-01-14 18:49:00,1/14/2019 18:55,1/14/2019 18:57,2019-01-14 18:58:00,1/14/2019 18:58,NaN,NaT,NaT
301191,CAR1,195,B777/2-LR,1/14/2019 22:55,RUNWAY02,STAND03,NaT,NaN,NaN,NaT,NaN,1/14/2019 22:55,2019-01-14 22:53:00,2019-01-14 23:14:00
301399,CAR1,903,B757/2-WL,1/15/2019 0:34,NaN,STAND03,2019-01-15 00:03:00,1/15/2019 0:34,NaN,2019-01-15 00:11:00,NaN,NaN,NaT,NaT
301598,CAR1,972,B757/2-WL,1/15/2019 1:26,RUNWAY02,STAND03,NaT,NaN,NaN,NaT,NaN,1/15/2019 1:53,2019-01-15 02:02:00,2019-01-15 02:15:00
301850,NaN,NaN,B777/2-LR,1/15/2019 7:40,NaN,STAND03,NaT,1/15/2019 7:40,NaN,2019-01-15 07:42:00,NaN,NaN,NaT,NaT
302419,CAR1,295,B777/2-LR,1/15/2019 16:05,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/15/2019 16:05,2019-01-15 16:03:00,2019-01-15 16:25:00
302480,CAR1,364,B737/7-WL,1/15/2019 16:44,RUNWAY08,STAND03,2019-01-15 16:32:00,1/15/2019 16:37,1/15/2019 16:40,2019-01-15 16:39:00,NaN,NaN,NaT,NaT
302577,CAR1,1777,B737/7-WL,1/15/2019 17:34,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/15/2019 17:34,2019-01-15 17:34:00,2019-01-15 17:56:00
302926,CAR1,31,A330/2,1/15/2019 20:55,RUNWAY09,STAND03,2019-01-15 20:08:00,1/15/2019 20:16,1/15/2019 20:15,2019-01-15 20:14:00,1/15/2019 20:14,NaN,NaT,NaT
303444,CAR1,28,A330/2,1/16/2019 0:24,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/16/2019 0:35,2019-01-16 00:36:00,2019-01-16 00:51:00
303820,CAR1,54,A330/2,1/16/2019 3:44,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/16/2019 3:55,2019-01-16 03:59:00,2019-01-16 04:15:00
303882,NaN,NaN,B777/2,1/16/2019 11:01,NaN,STAND03,NaT,1/16/2019 11:01,NaN,2019-01-16 11:03:00,NaN,NaN,NaT,NaT
304441,CAR1,295,B777/2-LR,1/16/2019 16:05,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/16/2019 16:05,2019-01-16 16:05:00,2019-01-16 16:27:00
304498,CAR1,362,B737/7-WL,1/16/2019 16:42,RUNWAY10,STAND03,2019-01-16 16:29:00,1/16/2019 16:38,1/16/2019 16:38,2019-01-16 16:38:00,1/16/2019 16:40,NaN,NaT,NaT
304606,CAR1,361,B737/7-WL,1/16/2019 17:45,RUNWAY01,STAND03,NaT,NaN,NaN,NaT,NaN,1/16/2019 17:45,2019-01-16 17:39:00,2019-01-16 18:01:00
304836,CAR1,73,A330/3,1/16/2019 19:54,RUNWAY10,STAND03,2019-01-16 19:21:00,1/16/2019 19:28,1/16/2019 19:30,2019-01-16 19:30:00,1/16/2019 19:32,NaN,NaT,NaT
305239,CAR1,NaN,A330/3,1/16/2019 22:44,NaN,STAND03,NaT,NaN,NaN,NaT,NaN,1/16/2019 22:44,NaT,NaT
305489,CAR1,33,A330/2,1/17/2019 0:40,NaN,STAND03,2019-01-17 00:04:00,1/17/2019 0:40,NaN,2019-01-17 00:14:00,NaN,NaN,NaT,NaT