# Test 1

### Packages

In [1]:
import pandas as pd
from datetime import timedelta  
import os

os.chdir('/Users/tristanmayer/Documents/GitHub/taxi-time')
from src.preprocessing import *
from src.master import *

### Data

In [2]:
df1 = cleaning_airport_df('/Users/tristanmayer/Desktop/Supercase Eleven/data/0. Airport data/Airport_Data.csv')

/Users/tristanmayer/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [3]:
df2 = get_df_of_obs1(df1)

In [4]:
df3 = get_target_values(df2)

df = master_preprocessing_X('/Users/tristanmayer/Desktop/Supercase Eleven/data/0. Airport data/Airport_Data.csv',
                            '/Users/tristanmayer/Desktop/Supercase Eleven/data/2. Weather data/weather_data_prep.csv',
                            '/Users/tristanmayer/Desktop/Supercase Eleven/data/1. AC characteristics/ACchar.xlsx',
                            '/Users/tristanmayer/Documents/GitHub/taxi-time/Correspondance.pkl')

(df.isna().sum()/len(df)).plot.bar()

In [5]:
## Creation des timestamps
## Cleaning of rows that font chier la bite
df1 = df1.loc[df1['aldt']!='aldt']
for col in ['aldt', 'aibt','aobt', 'atot']:
    df1[col] = pd.to_datetime(df1[col])

In [6]:
# number of planes in the airport at time_t (a date in string format)
# number of planes in block at time_t (a date in string format)
#### need to reconcile flights with plane (we only know details about flight so not the same line for arrival and departure from the stand -> see the dates regarding one stand)

# number of planes in movement at time_t (a date in string format)
## input: date as a string
## output: integer
def get_nb_of_planes_in_movement(time_t):
    t = pd.to_datetime(time_t)
    res = len(df1[((df1['aldt']<t) & (df1['aibt']>t))|
                  ((df1['aobt']<t) & (df1['atot']>t))])
    return res

# number of planes that have landed on the runway_R in the last M_min at time_t
## input: runway as a string; date as a string; timedelta as an integer (nb of minutes)
## output: integer
def get_nb_of_planes_runway_in_last_M_min(runway_R, time_t, M_min):
    t1 = pd.to_datetime(time_t)
    t2 = t1-timedelta(minutes = M_min)
    res = len(df1[(df1['runway']==runway_R) &
                  (df1['aldt']<t1) &
                  (df1['aldt']>t2)])
    return res


# number of planes that have stayed at the stand_S in the last M min at time_t
def get_nb_of_planes_stand_in_last_M_min(stand_S, time_t, M_min):
    t1 = pd.to_datetime(time_t)
    t2 = t1-timedelta(minutes = M_min)
    res = len(df1[(df1['stand']==stand_S) &
                  (df1['aibt']<t1) &
                  (df1['aibt']>t2)])
    return res

# average taxi-time of the planes that have landed on runway_R in the last M min at time_t
def average_taxitime_runway_last_X_min(runway_R, time_t, M_min): 
    t1 = pd.to_datetime(time_t)
    t2 = t1-timedelta(minutes = M_min)
    list_of_index = df1[(df1['runway']==runway_R) & 
                        (df1['aibt']<t1) & 
                        (df1['aibt']>t2)].index
    res = df3.loc[list_of_index][0].mean()
    return res

# average taxi-time of the planes that stayed at stand_S in the last M min at time_t
def average_taxitime_stand_last_X_min(stand_S, time_t, M_min): 
    t1 = pd.to_datetime(time_t)
    t2 = t1-timedelta(minutes = M_min)
    list_of_index = df1[(df1['stand']==stand_S) & 
                        (df1['aibt']<t1) & 
                        (df1['aibt']>t2)].index
    res = df3.loc[list_of_index][0].mean()
    return res

# taxi_time of the last plane that have landed on runway_R at time_t
def get_last_taxitime_runway(runway_R, time_t):
    t1 = pd.to_datetime(time_t)
    res = df3.loc[df1[(df1['runway']==runway_R) & (df1['aibt']<t1)]['aibt'].idxmax()][0]
    return res

# taxi_time of the last plane that have stayed at stand_S at time_t
def get_last_taxitime_stand(stand_S, time_t):
    t1 = pd.to_datetime(time_t)
    res = df3.loc[df1[(df1['stand']==stand_S) & (df1['aibt']<t1)]['aibt'].idxmax()][0]
    return res

    
# taxi_time of the last plane that have gone from runway_R to stand_S at time_t
def get_last_taxitime_path(runway_R, stand_S, time_t):
    t1 = pd.to_datetime(time_t)
    res = df3.loc[df1[(df1['runway']==runway_R) &
                       (df1['stand']==stand_S) & 
                       (df1['aibt']<t1)]['aibt'].idxmax()][0]
    return res

In [ ]:
time_t = '2018-08-01 19:59:00'

In [ ]:
df1.head()

In [ ]:
t = pd.to_datetime(time_t)
len(df1[((df1['aldt']<t) & (df1['aibt']>t))|
        ((df1['aobt']<t) & (df1['atot']>t))])

In [ ]:
t1 = pd.to_datetime(time_t)
t2 = t1-timedelta(minutes = 300)
len(df1[(df1['runway']=='RUNWAY01')&
        (df1['aldt']<t1) &
        (df1['aldt']>t2)])

In [ ]:
t1 = pd.to_datetime(time_t)
t2 = t1-timedelta(minutes = 300)
res = len(df1[(df1['stand']=='STAND03') &
                  (df1['aibt']<t1) &
                  (df1['aibt']>t2)])
res

In [ ]:
t1 = pd.to_datetime(time_t)
t2 = t1-timedelta(minutes = 30000)
list_of_index = df1[(df1['stand']=='STAND03') & 
                    (df1['aibt']<t1) & 
                    (df1['aibt']>t2)].index
res = df3.loc[list_of_index][0].mean()
res

In [ ]:
t1 = pd.to_datetime(time_t)
df3.iloc[df1[(df1['runway']=='RUNWAY01') & (df1['aibt']<t1)]['aibt'].idxmax()][0]
         
         
#.sort_values('aibt', ascending=False).iloc[0].name][0]

In [ ]:
df1[(df1['stand']=='STAND03')]

In [16]:
df1[(df1['runway']=='RUNWAY02') & (df1['aibt']<pd.to_datetime('2018-10-12 13:18:00'))]['aibt'].idxmax()

141628

In [18]:
df3.loc[141628]

0    420.0
Name: 141628, dtype: float64

## Test des fonctions

In [7]:
get_nb_of_planes_in_movement('2018-10-12 13:18:00')

19

In [8]:
get_nb_of_planes_runway_in_last_M_min('RUNWAY02','2018-10-12 13:18:00', 2000)

8

In [9]:
get_nb_of_planes_stand_in_last_M_min('STAND104', '2018-10-12 13:18:00', 2000)

4

In [10]:
average_taxitime_runway_last_X_min('RUNWAY02','2018-10-12 13:18:00', 2000)

375.0

In [11]:
average_taxitime_stand_last_X_min('STAND104', '2018-10-12 13:18:00', 2000)

510.0

In [20]:
get_last_taxitime_runway('RUNWAY02','2018-10-12 13:18:00')

420.0

In [21]:
get_last_taxitime_stand('STAND104','2018-10-12 13:18:00')

480.0

In [22]:
get_last_taxitime_path('RUNWAY02', 'STAND104', '2018-10-12 13:18:00')

ValueError: attempt to get argmax of an empty sequence

#### deal with this pb: sometimes first time a plane takes this path

In [11]:
#df3.loc[
df1[(df1['runway']=='RUNWAY02') &
    (df1['stand']=='STAND104')]# &
   # (df1['aibt']<pd.to_datetime('2018-10-12 13:18:00'))]#['aibt']#.idxmax()][0]

,carrier,flight,acType,sto,runway,stand,aldt,eibt,cibt,aibt,chocks_on,eobt,aobt,atot
2709,CAR1,564,B737/8-WL,7/31/2018 14:02,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,7/31/2018 14:02,2018-07-31 14:05:00,2018-07-31 14:16:00
3008,CAR1,365,B737/7-WL,7/31/2018 16:20,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,7/31/2018 16:30,2018-07-31 16:31:00,2018-07-31 16:44:00
3713,CAR1,2500,A321/2,7/31/2018 23:20,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,7/31/2018 23:40,2018-07-31 23:46:00,2018-07-31 23:57:00
10944,CAR1,74,A330/3,8/4/2018 0:11,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/4/2018 0:20,2018-08-04 00:29:00,2018-08-04 00:45:00
11218,CAR1,1976,B717/2,8/4/2018 2:10,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/4/2018 2:20,2018-08-04 02:19:00,2018-08-04 02:41:00
14513,CAR1,123,B777/2-LR,8/5/2018 20:00,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/5/2018 20:30,2018-08-05 20:31:00,2018-08-05 20:51:00
18595,CAR1,365,B737/7-WL,8/8/2018 16:20,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/8/2018 16:20,2018-08-08 16:18:00,2018-08-08 16:37:00
20005,CAR1,1976,B717/2,8/9/2018 2:10,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/9/2018 3:50,2018-08-09 03:48:00,2018-08-09 04:06:00
20275,CAR1,2259,B717/2,8/9/2018 11:40,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/9/2018 12:00,2018-08-09 11:54:00,2018-08-09 12:06:00
35256,CAR1,1835,B757/2-WL,8/16/2018 1:56,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/16/2018 2:10,2018-08-16 02:12:00,2018-08-16 02:30:00
35845,CAR1,347,B717/2,8/16/2018 14:01,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/16/2018 14:01,2018-08-16 13:54:00,2018-08-16 14:19:00
37184,CAR1,74,A330/3,8/17/2018 0:11,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/17/2018 0:20,2018-08-17 00:24:00,2018-08-17 00:37:00
37427,CAR1,1976,B717/2,8/17/2018 2:10,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/17/2018 2:10,2018-08-17 02:09:00,2018-08-17 02:21:00
39602,CAR1,1976,B717/2,8/18/2018 2:10,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/18/2018 2:10,2018-08-18 02:07:00,2018-08-18 02:22:00
40966,CAR1,194,A330/3,8/18/2018 21:33,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/18/2018 22:00,2018-08-18 21:56:00,2018-08-18 22:24:00
60770,CAR1,2203,B737/9-WL,8/30/2018 12:10,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/30/2018 12:10,2018-08-30 12:09:00,2018-08-30 12:24:00
61059,CAR1,389,A320/2,8/30/2018 13:55,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/30/2018 13:55,2018-08-30 13:53:00,2018-08-30 14:14:00
62621,CAR1,1976,B717/2,8/31/2018 2:10,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,8/31/2018 2:10,2018-08-31 02:07:00,2018-08-31 02:19:00
77919,CAR1,531,B737/9-WL,9/9/2018 13:55,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,9/9/2018 13:48,2018-09-09 13:47:00,2018-09-09 14:04:00
80083,CAR1,1805,B737/8-WL,9/10/2018 14:04,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,9/10/2018 14:04,2018-09-10 14:03:00,2018-09-10 14:20:00
81649,CAR1,1976,B717/2,9/11/2018 2:21,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,9/11/2018 2:21,2018-09-11 02:13:00,2018-09-11 02:30:00
92396,CAR1,365,B737/7-WL,9/16/2018 16:14,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,9/16/2018 16:14,2018-09-16 16:09:00,2018-09-16 16:24:00
93692,CAR1,2268,B757/2-WL,9/17/2018 2:11,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,9/17/2018 2:11,2018-09-17 02:10:00,2018-09-17 02:25:00
94303,CAR1,1805,B737/8-WL,9/17/2018 14:04,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,9/17/2018 14:14,2018-09-17 14:19:00,2018-09-17 14:38:00
112818,CAR1,1255,B757/3-WL,9/28/2018 12:30,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,9/28/2018 12:35,2018-09-28 12:34:00,2018-09-28 13:05:00
126767,CAR1,1739,B737/9-WL,10/5/2018 0:18,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,10/5/2018 0:18,2018-10-05 00:14:00,2018-10-05 00:35:00
127639,CAR1,564,B737/8-WL,10/5/2018 14:20,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,10/5/2018 14:20,2018-10-05 14:18:00,2018-10-05 14:32:00
165171,CAR1,334,B737/7-WL,10/27/2018 12:20,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,10/27/2018 12:20,2018-10-27 12:15:00,2018-10-27 12:25:00
168004,CAR1,753,B717/2,10/28/2018 22:35,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,10/28/2018 22:40,2018-10-28 22:41:00,2018-10-28 22:53:00
168428,CAR1,1309,A321/2,10/29/2018 2:34,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,10/29/2018 2:34,2018-10-29 02:32:00,2018-10-29 03:02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232228,CAR1,2589,MD88,11/30/2018 17:47,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,11/30/2018 17:47,2018-11-30 17:40:00,2018-11-30 17:55:00
235817,CAR1,193,A330/3,12/11/2018 13:30,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/11/2018 13:30,2018-12-11 13:27:00,2018-12-11 14:03:00
236070,CAR1,849,B737/7-WL,12/11/2018 15:10,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/11/2018 15:10,2018-12-11 15:07:00,2018-12-11 15:24:00
237882,CAR1,193,A330/3,12/12/2018 13:30,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/12/2018 13:30,2018-12-12 13:25:00,2018-12-12 13:57:00
238124,CAR1,397,A320/2,12/12/2018 15:05,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/12/2018 15:05,2018-12-12 15:05:00,2018-12-12 15:23:00
245384,CAR1,2078,B757/2-WL,12/16/2018 3:35,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/16/2018 3:40,2018-12-16 03:44:00,2018-12-16 04:00:00
245546,CAR1,193,A330/3,12/16/2018 13:30,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/16/2018 13:30,2018-12-16 13:23:00,2018-12-16 13:41:00
245782,CAR1,784,B717/2,12/16/2018 15:23,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/16/2018 15:23,2018-12-16 15:19:00,2018-12-16 15:29:00
246029,CAR1,2589,MD88,12/16/2018 17:47,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/16/2018 17:47,2018-12-16 17:41:00,2018-12-16 17:51:00
247231,CAR1,1837,A321/2,12/17/2018 3:22,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/17/2018 3:22,2018-12-17 03:19:00,2018-12-17 03:31:00
247289,CAR1,1549,A330/3,12/17/2018 2:39,RUNWAY02,STAND104,2018-12-17 04:53:00,12/17/2018 4:58,12/17/2018 3:17,2018-12-17 04:58:00,NaN,NaN,NaT,NaT
257983,CAR1,193,A330/3,12/22/2018 13:25,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/22/2018 14:30,2018-12-22 14:29:00,2018-12-22 14:43:00
260113,CAR1,575,B737/9-WL,12/23/2018 14:45,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/23/2018 14:52,2018-12-23 14:53:00,2018-12-23 15:13:00
260317,CAR1,1240,B737/9-WL,12/23/2018 16:29,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/23/2018 16:29,2018-12-23 16:28:00,2018-12-23 16:40:00
261015,CAR1,359,B737/7-WL,12/23/2018 21:57,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/23/2018 22:10,2018-12-23 22:01:00,2018-12-23 22:14:00
261642,CAR1,1259,MD88,12/24/2018 2:56,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/24/2018 2:56,2018-12-24 02:57:00,2018-12-24 03:17:00
262096,CAR1,389,B737/9-WL,12/24/2018 14:46,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,12/24/2018 14:46,2018-12-24 14:45:00,2018-12-24 14:56:00
277816,CAR1,1504,B737/8-WL,1/1/2019 20:00,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/1/2019 20:00,2019-01-01 19:58:00,2019-01-01 20:09:00
278722,CAR1,463,A330/3,1/2/2019 13:10,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/2/2019 13:10,2019-01-02 13:06:00,2019-01-02 13:30:00
279034,CAR1,9931,B717/2,1/2/2019 15:00,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/2/2019 15:00,2019-01-02 15:04:00,2019-01-02 15:29:00
279628,CAR1,2506,B757/2-WL,1/2/2019 19:55,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/2/2019 19:55,2019-01-02 19:55:00,2019-01-02 20:05:00
281049,CAR1,397,A320/2,1/3/2019 14:50,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/3/2019 14:50,2019-01-03 14:47:00,2019-01-03 15:16:00
286637,CAR1,1642,B717/2,1/6/2019 17:20,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/6/2019 17:20,2019-01-06 17:14:00,2019-01-06 17:28:00
287958,CAR1,2085,B717/2,1/7/2019 4:32,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/7/2019 4:32,2019-01-07 04:28:00,2019-01-07 04:39:00
290428,CAR1,872,B737/8-WL,1/9/2019 14:47,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/9/2019 14:47,2019-01-09 14:46:00,NaT
292503,CAR1,1929,B757/2-WL,1/10/2019 14:57,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/10/2019 14:57,2019-01-10 14:54:00,2019-01-10 15:07:00
299428,CAR1,9938,B767/3-WL,1/14/2019 0:55,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/14/2019 1:25,NaT,NaT
301804,CAR1,1389,B737/9-WL,1/15/2019 3:41,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/15/2019 3:41,2019-01-15 03:38:00,2019-01-15 03:55:00
302785,CAR1,1673,A319,1/15/2019 19:12,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/15/2019 19:12,2019-01-15 19:08:00,2019-01-15 19:19:00
304562,CAR1,1642,B717/2,1/16/2019 17:20,RUNWAY02,STAND104,NaT,NaN,NaN,NaT,NaN,1/16/2019 17:20,2019-01-16 17:29:00,2019-01-16 17:40:00

In [13]:
df1['aibt'].min()

Timestamp('2018-07-30 04:29:00')

In [14]:
df1['aibt'].max()

Timestamp('2019-01-17 02:06:00')