In [5]:
import pandas as pd
import numpy as np

In [68]:
df = pd.read_csv("../data/weather_data_prep.csv", parse_dates=[0])

In [69]:
# Only Nan in PGTM
df['PGTM'].isna().sum() - df.shape[0]

0

In [73]:
df.drop(columns=['PGTM'], inplace=True)

In [75]:
# Aggregation on a daily basis since we have data that are updated
df = df.groupby('DATE').agg({'AWND': 'mean', 'PRCP': 'sum',
                       'SNOW': 'max','SNWD': 'sum','TAVG': 'mean','TMAX': 'max',
                        'TMIN': 'min','WDF2': 'max','WDF5': 'max',
                        'WSF2': 'max','WSF5': 'max','WT01': 'max',
                        'WT02': 'max','WT03': 'max','WT08':'max'})

In [76]:
# Test to know is TAVG is a good column to then compute the snow proxy
#No Nan's detected
df['TAVG'].isna().sum()

0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 182 entries, 2018-07-30 to 2019-01-27
Data columns (total 16 columns):
AWND    182 non-null float64
PGTM    0 non-null float64
PRCP    182 non-null float64
SNOW    182 non-null float64
SNWD    182 non-null float64
TAVG    182 non-null float64
TMAX    182 non-null float64
TMIN    182 non-null float64
WDF2    182 non-null float64
WDF5    182 non-null float64
WSF2    182 non-null float64
WSF5    182 non-null float64
WT01    125 non-null float64
WT02    19 non-null float64
WT03    29 non-null float64
WT08    70 non-null float64
dtypes: float64(16)
memory usage: 24.2 KB

In [83]:
#IF it's raining and avg tempareture below 45 FÂ°, it's snowing
df['SnowProxi'] = (df['PRCP'] > 0.0) & (df['TAVG'] < 45.0)

In [84]:
# 16 days of snow
df['SnowProxi'].sum()

16

In [87]:
df.describe()

,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT08
count,182.000000,182.000000,182.0,182.0,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,125.0,19.0,29.0,70.0
mean,5.852665,2.493022,0.0,0.0,62.049451,71.340659,51.137363,240.494505,238.681319,17.619231,23.165934,1.0,1.0,1.0,1.0
std,2.920043,5.711963,0.0,0.0,15.678848,16.503956,16.271109,95.265129,97.863461,5.503200,7.226849,0.0,0.0,0.0,0.0
min,1.116667,0.000000,0.0,0.0,31.000000,40.000000,20.000000,30.000000,30.000000,8.100000,10.100000,1.0,1.0,1.0,1.0
25%,3.524167,0.000000,0.0,0.0,48.250000,55.250000,37.000000,150.000000,150.000000,13.000000,18.100000,1.0,1.0,1.0,1.0
50%,5.183333,0.055000,0.0,0.0,60.000000,70.500000,49.500000,290.000000,270.000000,16.100000,21.900000,1.0,1.0,1.0,1.0
75%,7.735833,2.375000,0.0,0.0,78.000000,88.000000,68.000000,320.000000,330.000000,21.675000,28.000000,1.0,1.0,1.0,1.0
max,17.373333,40.100000,0.0,0.0,84.000000,95.000000,73.000000,360.000000,360.000000,35.100000,49.000000,1.0,1.0,1.0,1.0

In [89]:
df['SNOW'].sum()

0.0