In [16]:
import os 
import pandas as pd
import numpy as np
import sklearn as sk

from src.preprocessing import *

path_glossary = 'data/Glossary.xlsx'


def glossary_feature_selection(path):
    ignore = ['To ignore', 'to ignore',  'Technical characteristic to ignore', 'Aircraft Type (with another regulation -not to be used for the case)']
    columns_df = pd.read_excel(path, sheet_name = 1).iloc[:,[0,2]]
    feature_list = [columns_df.iloc[:,0].tolist()[i] for i in range((len(columns_df.iloc[:,1].tolist()))) if columns_df.iloc[:,1].tolist()[i] not in ignore ]
    return feature_list


def create_target(df):
    df_filter = df[(~df['aibt'].isna()) & (~df['aldt'].isna()) & (df['aibt'] != 'aibt')].dropna(how = 'all')
    return (pd.to_datetime(df_filter['aibt']) - pd.to_datetime(df_filter['aldt'])).astype('timedelta64[s]')

In [19]:
glossary_feature_selection(path_glossary)
df = pd.read_csv('data/0. Airport data/Airport_Data.csv')
df_target = create_target(df)

In [25]:
df.iloc[pd.DataFrame(df_target).index]
df.drop(columns=['aibt','aldt'],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [26]:
def design_matrix_airport data(PATH):
    df = pd.read_csv(PATH)
    df_target = create_target(PATH)

,partition,carrier,flight,acType,acReg,ship,mode_s,status,sto,sqt,...,acars_out,vdgs_out,stand_free,eobt,aobt,atot,roll,speed,last_distance_to_gate,last_in_sector
0,AP,CAR1,NaN,MD88,N952DL,0,11353195,ACTIVATED,undefined,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AP,CAR1,NaN,MD88,N952DL,0,NaN,ACTIVATED,undefined,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

ValueError: cannot index with vector containing NA / NaN values